/* Global Variables */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --color-success: green;
  --dark-blue: #2c3e50;
  --light-black: #333;
  --background-color: #f4f4f4;
  --transition-effect: 0.2s ease-in-out;
  --border: 1px solid rgb(198, 201, 205);
  --white_1: #f4f4f4;
  --dark-white-bg: #eaeaea;    /* A light shade of gray */
    --darker-white-bg: #dcdcdc;    /* A slightly darker shade of gray */
    --light-black-bg: rgb(28, 28, 28);    /* A very dark gray, close to black */
  --font-family: 'Montserrat', sans-serif;
  --font-size: 16px;
  /* Base font size */
}

/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--dark-blue);
  background-color: var(--dark-white-bg);
  line-height: 1.6;
}
section {
  width: 100%;
}
textarea::placeholder,
input::placeholder {
  color: #888;
  font-style: italic;
  opacity: 0.7;
}
label{
  display: none;
}
.img {
  max-width: 300px;
    max-height: 250px;
    width: auto;
    /* Ensure the image retains its aspect ratio */
    height: auto;
    /* Ensure the image retains its aspect ratio */
}
.l-img{
  width: 450px;
  height: 350px;
}

.m-top {
  margin-top: 1rem;
}

.m-l-top{
  margin-top: 4rem;
}
.m-bottom{
  margin-bottom: 2rem;
}

.button {
  width: 9.375rem;
  padding: 0.8rem;
  cursor: pointer;
  font-weight: bold;
  color: var(--white_1);
  background-color: #000;
  transition: var(--transition-effect);
}

header,
section,
footer {
  padding: 20px;
  text-align: center;
}

/* Global link styling */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

/* Container class for general layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ################### Header ################### */
header,
#nav-menu ul {
  width: 100%;
  height: 4rem;
  color: var(--dark-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header {
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  position: fixed;
  background-color: var(--white_1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header h2 {
  margin-left: 2rem;
}

#nav-menu ul li {
  position: relative;
  margin-right: 1rem;
  border: none;
  width: 76px;
  transition: all 1s ease-in-out;
}

#nav-menu ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  opacity: .4;
  background-color: var(--color-success);
  transition: var(--transition-effect);
  transform: translateX(-50%);
}

#nav-menu ul li.active::after {
  width: 50%;
}

/* ##################### heading-content ################ */
#heading-content {
  position: relative;
  /* Ensure the container is positioned relative for the overlay */
  width: 100%;
  height: 300px;
  color: var(--white_1);
  background-color: var(--light-black-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  background-image: url('../images/my_bus.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

#heading-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;  /* Make sure the overlay is above the background but below the content */
}

#heading-content * {
  position: relative;
  z-index: 2;
  /* Ensure the content is above the overlay */
}

/* ####################  slideshow-container ############################ */
.slideshow-container {
  position: relative;
  max-width: 1025px;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none;
  width: auto;
  height: 300px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}

.slide.active {
  display: flex;
  /* Show active slide */
}

.slide-img {
  display: flex;
  justify-content: center;  /* Center the image horizontally */
  align-items: center;  /* Center the image vertically */
  margin-right: 20px;  /* Space between image and text */
}

.slide img,
.Service-img img{
  max-width: 300px;
    max-height: 250px;
    width: auto;    /* Ensure the image retains its aspect ratio */
    height: auto;    /* Ensure the image retains its aspect ratio */
}
.slide-par{
  height: 50px;
}

.slide-text,
.Service .Service-text {
  margin: 0;
  padding: 0.8rem;
  width: 60%;
  height: 9.375rem;
}

.slide h3,
.slide p {
  margin: 0;
}

.slide h3 {
  margin-bottom: 10px;
}

.slide p {
  margin-bottom: 15px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0.8rem;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0.8rem;
  border-radius: 3px 0 0 3px;
}
/* ######################## services ################### */
.Services,
.about-team-container,
#contact-us,
.booking-form,
#location-section,
.customer-service-section,
#about-transport-containter{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Service,
.about,
.about-team,
.booking-content,
.location-content,
.about-transport-box,
.product-service,
.customer-service-content,
.customer-service-content,
.contact-section-info{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  gap: 20px;
  color: var(--dark-blue);
}

.Service-img {
  flex: 1;
}

.Service-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.Service-text {
  flex: 2;
  text-align: left;
  margin-left: 2rem;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  margin-top: 0;
}

@media (max-width: 768px) {
  .Service {
    flex-direction: column;
    text-align: center;
  }

  .Service-img,
  .Service-text {
    flex: none;
  }
}
/*  ################################ testimonial ########################## */
#testimonials {
  padding: 50px 20px;
  background-color: var(--dark-white-bg);
  text-align: center;
}

#testimonials h2 {
  margin-bottom: 20px;
}

.testimonial {
  width: 80%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.testimonial-img {
  flex: 1;
  margin-right: 20px;
}

.testimonial-img img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.testimonial-content {
  flex: 3;
  text-align: left;
}

.testimonial-text {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.testimonial-desc {
  font-size: 1.1em;
  color: #666;
}

@media (max-width: 768px) {
  .testimonial {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-img {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .testimonial-img img {
    width: 60px;
    height: 60px;
  }

  .testimonial-content {
    text-align: center;
  }
}
/*  ############################# Contact Us ####################### */
#contact-us {
  width: 100%;
  padding: 50px 20px;
  background-color: #f1f1f1;
  text-align: center;
}

#contact-us h2 {
  margin-bottom: 20px;
}

#contact-us p {
  font-size: 1.1em;
  margin-bottom: 30px;
}

.contact-form {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: none;
  font-size: 1.1em;
  margin-bottom: 5px;
}
.form-group input {
  height: 40px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: var(--border);
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}
.button:hover {
  background-color: #2c3e50;
  width: 10rem;
  padding: 1rem;
}
@media (max-width: 768px) {
  .contact-form {
    width: 100%;
    padding: 0 20px;
  }

  #contact-us p {
    font-size: 1em;
  }
}

/*  ################# Footer ######################## */
.footer {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer::before {
  content: '';
  position: absolute;
  top: 0;
  width: 80%;
  height: 0;
  border-top: var(--border);
}
.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-icons a {
  color: var(--white_1);
  padding: 0 10px;
  border-radius: 8px;
}
.footer-icons .likes {
  background-color: var(--primary-color);
}
.footer-icons .twitter {
  background-color: #000;
}
.footer-icons .twitter i {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent 0 0 no-repeat;
    background-image: url(../images/twitter.svg);
}
.footer-icons .save {
    background-color: var(--color-success);
}

/*  ############################About and Contact ################### */
.about-transport,
.customer-service,
.location {
  padding: 2rem;
  border: var(--border);
  opacity: .9;

}

.about-team-container {
  width: 100%;
  padding: 4rem;
}

.about-team-text,
.about-transport-text {
  width: 43.75rem;
  margin: 0;
  text-align: left;
  margin-left: 2rem;
}

.about-transport-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-section-info {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.contact-info p {
  margin: 0;
  line-height: 1px;
}

.contact-form-contact {
  width: 350px;
}

.contact-info-contact {
  padding-left: 0;
  padding-top: 0;
  margin-top: 2rem;
}

/*  ##################### Product #################### */
#product-heading-content{
  width: 100%;
    height: 300px;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/passensers_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}